@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@500;700&display=swap");

:root {
  --white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);

  --font-size: 18px;
  --font-type: sans-serif;
  --font-medium: 500;
  --font-bold: 700;

  --margin-inline: 1rem;
}

/*
  Josh Comeau CSS Reset 
*/

/* 
  1. Use a more intuitive box-sizing model
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/

* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.333;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* img {
  width: 100%;
} */

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 
  9. list
*/
ul {
  list-style-type: none;
  padding: unset;
}

/* 
  10. clickable object
*/
button {
  cursor: pointer;
}

/* 
  11. svg
*/
svg {
  stroke: currentColor;
}

/* 
  12. link
*/

a {
  /* Typography */
  text-decoration: none;
  /* Colors */
  color: inherit;
}

/*
  end of css reset
*/

body {
  font-size: 18px;
  font-family: var(--font-type);
  font-weight: 500;
  color: var(--black);
  background-color: var(--white);
}

.btn {
  border: transparent;
  border-radius: 0.5rem;
  font-weight: 700;
}

.btn--cta {
  background-color: var(--black);
  border: 2px solid var(--black);
  color: var(--white);
  padding: 0.75rem 1.25rem;
}

.btn--cta:hover {
  background-color: transparent;
  color: var(--black);
}

.btn--primary,
.btn--secondary {
  color: var(--gray);
  background-color: unset;
}

.btn--primary {
  border: 2px solid var(--black);
  padding: 9px 21px;
}

.nav {
  display: flex;
  /* min-height: 60px; */
}

.nav__container {
  padding-inline: clamp(var(--margin-inline), 7vw, 2.5rem);
  padding-block-start: clamp(1.5rem, 7vw, 3rem);
  padding-block-end: clamp(2.5rem, 7vw, 5rem);
  width: 100%;
  max-width: 1440px;
}

.nav__container,
.nav__list,
.nav__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--desktop {
  display: none;
}

.nav--desktop .nav__container {
  justify-content: unset;
  color: var(--gray);
}

.menu {
  color: var(--gray);
}

@media screen and (min-width: 960px) {
  .nav--desktop {
    display: block;
  }

  .nav--mobile {
    display: none;
  }
}

@media (min-width: 1440px) {
  .nav__container {
    margin-inline: auto;
  }
}

.nav--desktop .nav__list {
  margin-left: 3.125rem;
}

.nav--desktop .nav__buttons {
  margin-left: auto;
}

.nav__logo {
  width: 84px;
  height: 27px;
  position: relative;
  top: 5px;
}

.nav__menu-logo {
  cursor: pointer;
}

.nav__list > * + * {
  margin-left: 1.75rem;
}

.nav__link svg {
  display: inline-block;
}

.nav__buttons {
  display: flex;
  gap: 2rem;
}

.nav__item--dropdown {
  position: relative;
}

.nav__dropdown {
  position: absolute;
  top: 50px;
}

.nav__dropdown--features {
  left: -100%;
}

.nav__link:hover,
.nav__btn:hover,
.menu__link:hover,
.menu__btn:hover {
  color: var(--black);
}

.hero__container {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  max-width: 1150px;
  margin-inline: clamp(var(--margin-inline), 7vw, 2.5rem);
}

@media screen and (min-width: 750px) {
  .hero__container {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1150px) {
  .hero__container {
    margin-inline: auto;
  }

  .hero {
    padding-bottom: 5rem;
  }
}

.hero__text-section {
  display: flex;
  flex-direction: column;
  margin-inline: var(--margin-inline);
}

.hero__text-container {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .hero__text-container {
    text-align: initial;
    margin-top: 35%;
    margin-bottom: 3.5rem;
    margin-inline: unset;
  }
}

.hero__title {
  font-size: clamp(2.35rem, 7vw, 4rem);
  font-weight: var(--font-bold);
  line-height: 1.1;
}

.hero__subtitle {
  margin-block-start: clamp(1em, 7vw, 2em);
  margin-block-end: clamp(1.5em, 7vw, 3em);
  color: var(--gray);
  line-height: 1.5;
}

.clients {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;

  gap: 1rem;
  margin-block-start: 3.5rem;
}

@media screen and (min-width: 750px) {
  .clients {
    margin-top: auto;
  }

  .hero__image-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 900px) {
  .hero__subtitle {
    width: 70%;
  }

  .hero__cta {
    padding: 1rem 2rem;
    border-radius: 1rem;
  }
}

.nav__dropdown {
  background-color: white;
  width: max-content;
  border-radius: 10px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: none;
}

.nav__dropdown--open .nav__dropdown {
  display: block;
}

.nav__dropdownList {
  padding: 1rem;
}
.nav__dropdownListItem + .nav__dropdownListItem {
  margin-block-start: 1rem;
}

.nav__dropdownListItem--withIcon {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.nav__dropdownListItem--withIcon::before {
  content: "";
  display: inline-block;
  width: 28px;
  aspect-ratio: 1;
  background-size: 28px 28px;
  background-repeat: no-repeat;
  /* filter: contrast(200%); */
}

.nav__dropdownListItem--todoList::before {
  background-image: url("./images/checklist.png");
}

.nav__dropdownListItem--todoList:hover::before {
  background-image: url("./images/checklist.gif");
}

.nav__dropdownListItem--calendar::before {
  background-image: url("./images/calendar.png");
}

.nav__dropdownListItem--calendar:hover::before {
  background-image: url("./images/calendar.gif");
}

.nav__dropdownListItem--reminders::before {
  background-image: url("./images/notification.png");
}

.nav__dropdownListItem--reminders:hover::before {
  background-image: url("./images/notification.gif");
}

.nav__dropdownListItem--planning::before {
  background-image: url("./images/clock.png");
}

.nav__dropdownListItem--planning:hover::before {
  background-image: url("./images/clock.gif");
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: var(--black);
  opacity: 0.8;
  display: none;
}

.menu {
  position: absolute;
  right: 0;
  height: 100%;
  width: 240px;
  background-color: white;
  z-index: 100;
  padding: 4rem 1.5rem;
  transform: translateX(100%);
}

.menu__item + .menu__item {
  margin-top: 1.5625rem;
}

.menu__buttons {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.menu__dropdownList {
  padding-block-start: 1.45rem;
  padding-left: 1rem;
}

.nav--mobile--openMenu .overlay {
  display: block;
}

.nav--mobile--openMenu .menu {
  transform: translateX(0);
}
